.carousel-wrapper {
    width: 100%; /* Set the container to occupy the full width of the viewport */
    height: 100%; /* Set the container to occupy the full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide any overflow */
}

.carousel {
    display: flex;
    width: 100%; /* Set the width of the carousel to match the container */
    height: 100%; /* Set the height of the carousel to match the container */
    transition: transform 0.3s ease-in-out;
    transform: translateX(-33.33%);
}

.carousel img {
    width: 100%; /* Make sure images fill the carousel */
    height: 100%; /* Make sure images fill the carousel */
    object-fit: cover; /* Ensure the image covers the entire container while maintaining aspect ratio */
}